@import "tailwindcss";

@layer base {
    body {
        @apply bg-slate-50 text-slate-900;
        background-image:
            radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
            radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
            radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
    }
}

@layer utilities {
    .glass-panel {
        @apply bg-white/70 backdrop-blur-xl border border-white/50 shadow-xl;
    }
}